# Copiar a .env en el servidor de producción
# cp .env.production.example .env
# Luego editar y completar los valores

APP_NAME=ElVive
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tu-dominio.com

JWT_SECRET=

DB_CONNECTION=mysql
DB_HOST=elvivemysql-nahuelalderete08-09c9.g.aivencloud.com
DB_PORT=11430
DB_DATABASE=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=
DB_SSL_VERIFY=false

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
